.gallery_item {
	/*height: 50vmax;*/
	overflow: auto;
}

.image_container {
	width: 100%;
	height: 35vmax;
	overflow: hidden;
	position: relative;
}

.gallery_image {
	position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;	
}

.gallery_title {
	color: rgb(235, 235, 235); 
	font-size: 3.5vmax;
	line-height: 3.5vmax;
	margin-top: 1vmax;
}

.gallery_description {
	color: rgb(235, 235, 235); 
	font-size: 1.25xmax;
	line-height: 3vmax;
}

#page_title {
	color: rgb(235, 235, 235); 
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 10vmin;
}

#header {
	/*padding-left: 5vmin;*/
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#title_row {
	position: relative;
}

#open_symbol_div {
	height: 10vw;
	position: absolute;
	right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#open_nav_symbol {
	height: 100%;
	width: auto;
}