.gallery_item {
	/*height: 50vmax;*/
	overflow: auto;
}

.image_container {
	width: 100%;
	height: 35vmax;
	overflow: hidden;
	position: relative;
}

.gallery_image {
	position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;	
}

.gallery_title {
	color: rgb(235, 235, 235); 
	font-size: 3.5vmax;
	line-height: 3.5vmax;
	margin-top: 1vmax;
}

.gallery_description {
	color: rgb(235, 235, 235); 
	font-size: 1.25xmax;
	line-height: 3vmax;
}

#page_title {
	color: rgb(235, 235, 235); 
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 50px;
}

#header {
	padding-left: 2vmin;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*
a {
	color: rgb(270, 270, 270); 
}

a:visited {
	color: rgb(270, 270, 270); 	
}

a:link {
	color: rgb(270, 270, 270); 
}
*/
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#title_row {
	position: relative;
}

#open_symbol_div {
	height: 10vw;
	position: absolute;
	right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#open_nav_symbol {
	height: 100%;
	width: auto;
}


@media only screen and (min-width: 500px) {

	#open_nav_symbol {
		display: none;
		background: white;
	}

	#nav_thao_huong {
		display: none;
	}

	#mySidenav {
	    width: 100%; /* 100% Full-width */
	    height: auto; /* 0 width - change this with JavaScript */
	    position: static; /* Stay in place */
	    z-index: auto;
	    background-color: #323435; 
	   	overflow-x: auto; /* Disable horizontal scroll */
	   	padding: 0px;
	   	margin-bottom: 16px;
	}

	/* The navigation menu links */
	.sidenav a {
	    text-decoration: none;
	    font-size: 3vmin;
	    color: #f1f1f1;
	    display: inline-block;
	    text-transform: uppercase;
	    border-style: solid;
    	border-width: 5px;
    	border-color: #222425;
    	padding: 1vh 1vw 1vh 1vw;
    	text-align: center;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
	    display: none;
	}

}


@media only screen and (min-width: 1000px) {

/*	#header {
		background-color: #272930;
		width: 250px;
		position: fixed;
		top: 0;
		left: 36px;
		height: 100%;
	}

	#homepage_link {
		position: fixed;
		bottom: auto;
		top: 36px;
		left: 32px;
		font-size: 50px;
	}

	#description {
		position: fixed;
		top: 100px;
		left: 32px;
	}



	*/
/*	#mySidenav {
	    height: 100%; 
	    width: 250px;
	    position: fixed; 
	    top: 200px;
	    left: 32px;
	    background-color: rgba(0 0 0 0);
	}

	
	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    display: block;
	    border: none;
	}

	#footer {
		display: none;
	}

	#title_row {
		width: 70vw;
		position: absolute;
		left: 33vw;
	}

	#containing_div {
		width: 70vw;
		position: absolute;
		left: 33vw;
		top: 100px;
	}*/

}